{% if pr.status == 'merged' %}
  {% assign pr_status_class = 'pr--merged' %}
{% else %}
  {% assign pr_status_class = 'pr--unknown' %}
{% endif %}
<li class="pr {{ pr_status_class }}">
  <!--9400FF-->
  <h4>
    {{ pr.repo_name }}
    {% if pr.language == 'ruby' %}
      {% assign logo_path = "/assets/img/logos/ruby_logo.svg" %}
    {% elsif pr.language == 'ruby_on_rails' %}
      {% assign logo_path = "/assets/img/logos/ruby_on_rails_logo.svg" %}
    {% elsif pr.language == 'golang' %}
      {% assign logo_path = "/assets/img/logos/go_logo_aqua.svg" %}
    {% elsif pr.language == 'rust' %}
      {% assign logo_path = "/assets/img/logos/rust_logo_white.svg" %}
    {% elsif pr.language == 'node.js' %}
      {% assign logo_path = "/assets/img/logos/node_js_white.svg" %}
    {% elsif pr.language == 'react' %}
      {% assign logo_path = "/assets/img/logos/react_logo_aqua.svg" %}
    {% endif %}
      <img
        src="{{ logo_path }}"
        class="icon"
        alt="ruby logo">
  </h4>
  <p>{{ pr.description }}</p>
  <a href="{{ pr.url }}" target="_blank">
    <img
      src="/assets/img/link_external.svg"
      alt="merged icon">
    {{ pr.url }}
  </a>
</li>
