
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$darkest-blue: #1a237e;
$darker-blue: #283593;
// $medium-blue: #3949ab;
// $light-blue: #3f51b5;
// $lighter-blue: #5c6bc0;
// $lightest-blue: #9fa8da;
$white: #ffffff;
$black: #0e1442;
$orange: #ffb300; // TODO: This is being used
// $yellow: #fdd835; // TODO: Change this value depending on light or dark theme
$yellow: $brand-color-dark;
// $yellow: white;

.cv-subtitle {
  text-align: center;
}

.table-languages {
  border: none;
  th {
    text-align: center;
  }

  td, th {
    border: 0px;
    padding: 0px;
  }
  td.reached > span,
  td.filled > span {
    opacity: 0.0;
  }

  td.language-init:after {
    border-radius: 6px 0px 0px 6px;
  }

  td.reached:after {
    border-radius: 0px 6px 6px 0px;
  }

  td.language-init:after,
  td.filled:after {
    content: "";
    display: inline-block;
    background-color: $text-color;
    width: 100%;
    height: 10px;
    opacity: 1.0;
  }

  td.reached:before,
  td.reached:after {
    content: "";
    display: inline-block;
    background-color: $text-color;
    width: 50%;
    // width: 100%;
    height: 10px;
  }
  td.reached:before {
    opacity: 0.0;
  }
  /*
  td.reached:after {
    content: "";
    display: inline-block;
    background-color: $text-color;
    // width: 50%;
    width: 100%;
    height: 10px;
  }
  */

  /*
  td.language-init:after,
  td.reached:after {
    width: 100%;
  }
  td.filled:after {
    width: 50%;
  }
  */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@keyframes my_circle {
  from {
    box-shadow: 0 0 0 0px $yellow;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

.nodes {
  // & > ul {
  ul.first-level {
    list-style-type: none;
    padding: 0;

    & > li {
      position: relative;
      margin-left: 15px;
      padding-left: 25px;
      padding-bottom: 15px;
      & > small {
        display: block;
        opacity: 0.7;
      }
    }

    & > li:hover span {
      color: $yellow;
    }

    & > li:hover::before {
      animation: my_circle 1.2s infinite;
    }

    & > li:first-of-type::before {
      width: 10px;
      height: 10px;
      left: 1px;
    }

    & > li::before {
      width: 7px;
      height: 7px;
      // border: 3px solid $white;
      border: 3px solid $text-color;
      background: $orange;
      border-radius: 50%;
      left: 3px;
      z-index: 1;
    }
    & > li::before,
    & > li::after {
      content: "";
      display: block;
      position: absolute;
    }

    & > li::before {
      width: 7px;
      height: 7px;
      // border: 3px solid $white;
      border: 3px solid $text-color;
      background: $orange;
      border-radius: 50%;
      left: 3px;
      z-index: 1;
    }

    & > li:last-of-type::after {
      border-radius: 1.5px;
    }

    & > li::after {
      content: "";
      display: block;
      position: absolute;
    }

    & > li::after {
      width: 3px;
      height: 100%;
      // background: $white;
      background: $text-color;
      // left: 5px;
      left: 7px;
      top: 0;
    }

    & ul.second-level {
      // background-color: white;
      list-style-type: none;
      & > li {
        position: relative;
      }
      & > li::before {
        content: "";
        width: 7px;
        height: 7px;
        margin: 0px 5px 1px 0px;
        border-radius: 50%;
        display: inline-block;
        // background: $text-color;
        background: $orange;
      }
    }
  }
}

.skills {
  .skill {
    width: max-content;
    // background-color: $brand-color;
    // background-color: $brand-color-light;
    // background-color: $background-color;

    // background-color: $brand-color-dark;
    // color: $text-color;

    background-color: $text-color;
    // color: black;
    color: $background-color;
    padding: 0px 10px;
    margin: 2px 0px;
    display: inline-block;
    border-radius: 3px;
  }
}
/*
.skills {
  .skill {
    width: max-content;
  }
  .skill:before {
    content: "";
    // display: block;
    display: inline-block;
    // width: 10px;
    width: 3px;
    height: 10px;
    background-color: white;
  }
  .skill:after {
    content: "";
    // display: block;
    display: inline-block;
    width: 3px;
    height: 10px;
    background-color: white;
  }
}
*/
