.skills {
  .skill {
    width: max-content;
    // background-color: $brand-color;
    // background-color: $brand-color-light;
    // background-color: $background-color;

    // background-color: $brand-color-dark;
    // color: $text-color;

    background-color: $text-color;
    // color: black;
    color: $background-color;
    padding: 0px 10px;
    margin: 2px 0px;
    display: inline-block;
    border-radius: 3px;
  }
}

